<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-Time Data Plot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bs5.css') }}">
    <style>
        .plot-container {
            filter: invert(100%) hue-rotate(180deg);
        }
    </style>
</head>

<body>

    <div class="container-flex">
        <div class="row">
            <!-- Card for Client 1 -->
            <div class="col-6 client-card">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Gruppe 1</h2>
                        <p class="card-text" id="1-current">Keine Daten</p>
                        <div id="1-chart" class="plot-container"></div>
                    </div>
                </div>
            </div>

            <!-- Card for Client 2 -->
            <div class="col-6 client-card">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Gruppe 2</h2>
                        <p class="card-text" id="2-current">Keine Daten</p>
                        <div id="2-chart" class="plot-container"></div>
                    </div>
                </div>
            </div>

            <!-- Card for Client 3 -->
            <div class="col-6 client-card">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Gruppe 3</h2>
                        <p class="card-text" id="3-current">Keine Daten</p>
                        <div id="3-chart" class="plot-container"></div>
                    </div>
                </div>
            </div>

            <!-- Card for Client 4 -->
            <div class="col-6 client-card">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Gruppe 4</h2>
                        <p class="card-text" id="4-current">Keine Daten</p>
                        <div id="4-chart" class="plot-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <script src="{{ url_for('static', filename='bs5.js') }}"></script>
    <script src="{{ url_for('static', filename='plotly.js') }}"></script>
    <script src="{{ url_for('static', filename='drawGraphs.js') }}"></script>
</body>

</html>