{% macro teamcard(team_id) %}
<div class="card shadow-sm position-relative">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-start">
                <p class="card-title text-center fs-1">
                    <span class="card-{{ team_id }}-name">
                        Kein Sensor Regestriert
                    </span>
                </p>
            </div>
            <div class="col-md-6 d-flex justify-content-between">
                <div class="m-0 p-0">
                    <p class="fs-1">RPM: <span class="card-{{ team_id }}-rpm"></span> (<span
                            class="card-{{ team_id }}-rpmmax"></span>)</p>
                </div>
                <div class="m-0 p-0">
                    <p class="fs-1">Flow: <span class="card-{{ team_id }}-flow"></span> (<span
                            class="card-{{ team_id }}-flowmax"></span>)</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="position-relative" style="height: 300px;">
            <canvas id="card-{{ team_id }}-chart"></canvas>
            <!-- Translucent overlay for offline status -->
            <div class="position-absolute top-0 start-0 w-100 h-100 d-none d-flex justify-content-center align-items-center
                {% if dark %}
                bg-dark bg-opacity-75 text-white
                {% else %}
                bg-light bg-opacity-75 text-dark
                {% endif %}" id="card-{{ team_id }}-offline-overlay" style="z-index: 5;">
                <h5 class="m-0"><span class="card-{{ team_id }}-name"></span> ist offline</h5>
            </div>
        </div>
    </div>
</div>
{% endmacro %}