{% macro teamcard(team_id) %}
<div class="card shadow-sm position-relative">
    <div class="card-header
            d-flex
            align-items-center
            justify-content-between
            flex-column flex-md-row">
        <div>
            <p class="card-title fs-1 mb-0 text-center">
                <span class="card-{{ team_id }}-name">
                    Kein Sensor Regestriert
                </span>
            </p>
        </div>
        <div>
            <p class="fs-1 mb-0">
                RPM: <span class="card-{{ team_id }}-rpm"></span>
                (<span class="card-{{ team_id }}-rpmmax"></span>)
            </p>
        </div>
        <div>
            <p class="fs-1 mb-0">
                Flow: <span class="card-{{ team_id }}-flow"></span>
                (<span class="card-{{ team_id }}-flowmax"></span>)
            </p>
        </div>
    </div>

    <div class="card-body">
        <div class="position-relative" style="height: 300px;">
            <canvas id="card-{{ team_id }}-chart"></canvas>
            <!-- Translucent overlay for offline status -->
            <div class="position-absolute top-0 start-0 w-100 h-100 d-none d-flex justify-content-center align-items-center
                {% if dark %}
                bg-dark bg-opacity-75 text-white
                {% else %}
                bg-light bg-opacity-75 text-dark
                {% endif %}" id="card-{{ team_id }}-offline-overlay" style="z-index: 5;">
                <h5 class="m-0"><span class="card-{{ team_id }}-name"></span> ist offline</h5>
            </div>
        </div>
    </div>
</div>
{% endmacro %}